In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Volumes/GoogleDrive/My Drive/508/Projekt_Skrape'

In [3]:
os.listdir()

['geckodriver.log',
 'chromedriver',
 'Splinter_Weather_scrape_build.ipynb',
 '.DS_Store',
 '.ipynb_checkpoints',
 'year',
 'Untitled.ipynb',
 'Data_Inspector.ipynb',
 'linbergh_field',
 'Campo',
 '.virtual_documents']

In [18]:
# Not case sensitive!
loc = 'san diego brown field'
month = 'may'
year = '2018'

In [19]:
os.listdir(f'{loc}/{loc}_{year}/')

['2018_January.csv',
 '2018_February.csv',
 '2018_March.csv',
 '2018_April.csv',
 '2018_May.csv',
 '2018_June.csv',
 '2018_July.csv',
 '2018_August.csv',
 '2018_September.csv',
 '2018_October.csv',
 '2018_November.csv',
 '2018_December.csv']

In [20]:
df = pd.read_csv(f'{loc}/{loc}_{year}/{year}_{month}.csv')
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018,KSDM 05/2018
1,1,Date,ObservedLow(F),ObservedHigh(F),NormalLow(F),NormalHigh(F),RecordLow(F),Year,RecordHigh(F),Year,ObservedPrecipitation(inches),NormalPrecipitation(inches),Record Precipitation(inches),Year,NaN
2,2,1,51,59,52,71,44,2011,96,2014,T,0.03,0.62,1955,NaN
3,3,2,51,63,52,71,47,2011,94,2014,0.06,0.02,0.38,1955,NaN
4,4,3,49,70,53,71,44,1955,94,2011,0.00,0.02,0.07,1960,NaN
5,5,4,49,86,53,71,49,2018,86,2018,0.00,0.02,0.11,1960,NaN
6,6,5,55,82,53,71,45,1960,82,2018,0.00,0.02,T,2007,NaN
7,7,6,54,77,53,71,48,2007,82,2007,0.00,0.01,0.73,2016,NaN
8,8,7,52,73,53,71,46,2017,88,2007,0.00,0.01,1.25,2017,NaN
9,9,8,52,72,53,71,49,2013,91,2007,0.00,0.01,0.38,2015,NaN
10,10,9,56,73,53,71,50,2014,83,2007,0.00,0.01,0.32,1956,NaN
11,11,10,56,75,54,72,47,1959,80,1960,0.00,0.00,0.24,1957,NaN
12,12,11,55,63,54,72,48,2010,84,1960,T,0.01,0.83,1957,NaN
13,13,12,53,63,54,72,44,2010,90,2013,0.04,0.00,0.04,2018,NaN
14,14,13,54,69,54,72,48,1956,96,2013,0.00,0.01,0.00,1960,NaN
15,15,14,52,70,54,72,49,2008,96,2014,0.00,0.00,0.06,2015,NaN
16,16,15,58,70,54,72,46,1955,102,2014,0.00,0.01,0.61,2015,NaN
17,17,16,56,69,54,72,45,1955,95,2014,0.00,0.00,0.02,2015,NaN
18,18,17,54,69,54,72,49,1955,92,1956,T,0.00,0.01,2011,NaN
19,19,18,56,67,54,72,50,1955,89,2008,0.00,0.01,0.13,2011,NaN
20,20,19,58,68,54,72,48,2011,90,2008,0.00,0.00,0.30,1957,NaN
21,21,20,57,67,55,72,48,1945,87,2017,0.01,0.00,T,2014,NaN
22,22,21,56,66,55,72,50,1957,80,2017,0.02,0.00,0.21,1957,NaN
23,23,22,55,68,55,72,48,1960,85,1958,0.00,0.00,T,2011,NaN
24,24,23,58,68,55,72,48,1960,80,2001,0.00,0.01,T,2007,NaN
25,25,24,57,67,55,72,46,2010,82,2006,T,0.00,0.04,1955,NaN
26,26,25,57,70,55,72,47,2010,78,2006,0.00,0.00,0.09,1955,NaN
27,27,26,54,69,55,72,50,2011,77,2014,T,0.00,T,2008,NaN
28,28,27,57,72,55,72,51,2011,79,1960,0.00,0.00,0.03,1956,NaN
29,29,28,60,72,55,72,49,2008,84,2003,0.00,0.00,0.00,2006,NaN
30,30,29,58,69,55,72,49,2011,78,2006,0.00,0.01,0.14,2011,NaN
31,31,30,59,72,55,72,43,2011,79,2013,0.00,0.00,0.03,1955,NaN
32,32,31,60,71,55,72,48,2011,81,2006,0.00,0.00,0.03,1955,NaN
33,33,Average:,55.1,70.0,54.0,71.7,NaN,NaN,NaN,NaN,Total: 0.13,Total: 0.21,NaN,NaN,NaN