In [4]:
# Notebook ssetup
import os
import numpy as np
import pandas as pd
import re

# directories
clean = 'Clean_Data/'
raw = 'Foundation/Raw Data/'
root = '/root/'

In [6]:
file_path = root + 'Foundation/Raw Data/Other/Vehicle Population.xlsx'
vehicle_registration_df = pd.read_excel(file_path,
                                        sheet_name='ZIP')

# print shape
print(f'Shape {vehicle_registration_df.shape}\n', '--'*20)

vehicle_registration_df.head(3)

Shape (175291, 4)
 ----------------------------------------

   Data Year   Fuel Type    ZIP  Number of Vehicles
0       2010  Bio Diesel  90010                   3
1       2010  Bio Diesel  90019                   1
2       2010  Bio Diesel  90047                   1

In [7]:
vehicle_registration_df.rename(columns={'Data Year':'Year',
                                        'Fuel Type':'Fuel',
                                        'Number of Vehicles':'#_vehicles'},
                               inplace=True)

In [8]:
vehicle_registration_df[vehicle_registration_df['#_vehicles'] == 0]

Empty DataFrame
Columns: [Year, Fuel, ZIP, #_vehicles]
Index: []

In [9]:
clean_data_dir = root + clean

vehicle_registration_df.to_parquet(clean_data_dir + 'vehicle_registration.parquet.gzip',
                                   compression='gzip',
                                   index=False)

In [10]:
print('Vehicle Data is READY TO ROCK!!!!')

Vehicle Data is READY TO ROCK!!!!

In [16]:
import boto3
import sagemaker

# Sagemaker session
sess = sagemaker.Session()

# bucket = "my-bucket"
bucket = sess.default_bucket()

file_name = 'vehicle_registration.parquet.gzip'
file_path = 'Clean_Data/' + file_name

# Upload flow to S3
s3_client = boto3.client("s3")
s3_client.upload_file(clean_data_dir + file_name, bucket, file_path)